---
import BaseLayout from "../../layouts/BaseLayout.astro";
import SubpageHoverSections from "../../components/SubpageHoverSections.astro";
import SubpageHoverSectionItem from "../../components/SubpageHoverSectionItem.astro";
---

<BaseLayout
  title="Pourquoi le solaire? - Rochat Solaire"
  isDark={false}
  orbitNavColorMode="dark"
>
  <main class="why-solar-page">
    <section
      class="why-solar-section min-h-screen bg-white text-black flex items-start justify-center pt-64"
    >
      <div class="top-section-content pb-20">
        <SubpageHoverSections>
          <SubpageHoverSectionItem title="Rentabilité">
            <p class="typo-b1">
              Si le projet est bien situé, bien conçu et réalisé au bon moment,
              il peut être rentable. Notre logiciel exclusif calcule la
              rentabilité, critère prédominant pour les investisseurs.
            </p>
          </SubpageHoverSectionItem>
          <SubpageHoverSectionItem title="Ecologie">
            <p class="typo-b1">
              Un module photovoltaïque produit dix à quinze fois plus d'énergie
              durant sa vie qu'il n'en faut pour le produire et le transporter.
            </p>
          </SubpageHoverSectionItem>
          <SubpageHoverSectionItem title="Fiabilité et Sécurité">
            <p class="typo-b1">
              Dans une centrale photovoltaïque, il n'y a aucune partie mobile,
              donc peu d'usure et frais d'entretien.
            </p>
          </SubpageHoverSectionItem>
          <SubpageHoverSectionItem title="Esthétique">
            <p class="typo-b1">
              Bien étudiée, une installation photovoltaïque peut{' '}
              <br class="hidden lg:block" aria-hidden="true" />être belle et
              enrichir la valeur architecturale d'un immeuble.
            </p>
          </SubpageHoverSectionItem>
        </SubpageHoverSections>
      </div>
    </section>
  </main>
</BaseLayout>

<style>
  .why-solar-page {
    font-family: var(--font-primary);
  }
</style>
