---
import BaseLayout from "../../layouts/BaseLayout.astro";
import SubpageHoverSections from "../../components/SubpageHoverSections.astro";
import SubpageHoverSectionItem from "../../components/SubpageHoverSectionItem.astro";
---

<BaseLayout
  title="Qui sont nos clients? - Rochat Solaire"
  isDark={false}
  orbitNavColorMode="dark"
>
  <main class="clients-page">
    <section
      class="clients-section min-h-screen bg-white text-black flex items-start justify-center pt-64"
    >
      <div class="top-section-content pb-20">
        <SubpageHoverSections>
          <SubpageHoverSectionItem title="Propriétaires">
            <p class="typo-b1">
              De bâtiments qui veulent produire de l'énergie avec leur toit,
              ou le mettre à disposition d'un tiers investisseur: industriel,
              résidentiel, école, rural et hôpital.
            </p>
          </SubpageHoverSectionItem>
          <SubpageHoverSectionItem title="Investisseurs">
            <p class="typo-b1">
              Dans l'énergie renouvelable qui cherche la rentabilité
            </p>
          </SubpageHoverSectionItem>
          <SubpageHoverSectionItem title="Entreprises">
            <p class="typo-b1">
              Qui veulent produire leur propre énergie.
            </p>
          </SubpageHoverSectionItem>
        </SubpageHoverSections>
      </div>
    </section>
  </main>
</BaseLayout>

<style>
  .clients-page {
    font-family: var(--font-primary);
  }
</style>
